#
# tx-isp config states
#

config TX_ISP_CORE
	bool "Config isp module"
	depends on VIDEO_TX_ISP
        default y

choice
        prompt "select isp controller"
        depends on TX_ISP_CORE
	default APICAL_ISP

config  APICAL_ISP
        bool 'use apical isp'
        depends on (SOC_T20 || SOC_T15 || SOC_T10 || SOC_T30 || SOC_T21)&& TX_ISP_CORE
        help
        use the apical isp controller.

endchoice

#
# sensor driver configuration
#

config BUILT_IN_SENSOR_SETTING
	  bool "built-in sensor setting"
	  depends on VIDEO_TX_ISP && TX_ISP_CORE
	  default n
	  ---help---
	  used for faster bootup.
